
.fill {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.flexFill {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flex.column {
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  width: 100%;
}

.flex.between {
  justify-content: space-between;
}

.flex.start {
  justify-content: flex-start;
}

.flex.end {
  justify-content: flex-end;
}

.basisThird {
  flex-basis: 33.3%;
  flex-shrink: 0;
}

.rel {
  position: relative;
}

.ib {
  display: inline-block;
  vertical-align: middle;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.vcenterer {
  position: relative;
  text-align: center;
}
.vcenterer:before {
  content: '';
  display: inline-block;
  font-size: 0;
  margin: 0;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.vcenteree {
  display: inline-block;
  max-width: 94%;
  position: relative;
  vertical-align: middle;
}

.ratioSquare {
  height: 0;
  padding-top: 100%;
  position: relative;
  width: 100%;
}

.ratioThreeQuarters {
  height: 0;
  padding-top: 75%;
  position: relative;
  width: 100%;
}

.clearfix:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  width: 100%;
}

.fullWidth {
  width: 100%;
}

.pageWidth {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 480px;
  padding: 0 1rem;
  position: relative;
  width: 100%;
}

.pageWidth.narrow {
  max-width: 504px;
  padding: 0 3rem;
}

.ui {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.hidden {
  display: none;
}

.btnReset {
  appearance: none;
  background: none;
  border: 0;
}
.btnReset:focus {
  outline: none;
}

.fade {
  opacity: 0;
  transition: opacity .25s ease-out, visibility .25s ease-out;
  visibility: hidden;
}

.fade.fadeIn {
  opacity: 1;
  visibility: visible;
}
