
.body {
  flex-grow: 1;
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  background-color: var(--blue1);
  border-top: 1px solid var(--blue3-5);
  padding: 0.5rem 0 1.5rem;
  position: relative;
  width: 100%;
}
