/*
  modal
*/
@import "../../styles/core/variables";

.modal {
  position: absolute !important;
}

.bg {
  background: rgba(0, 0, 0, .6);
}

.content {
  background: rgba(0, 0, 0, .85);
  border: 1px solid rgba(var(--white), 1);
  border-radius: 10px;
  height: 1px;
  overflow: hidden;
  width: 1px;
}

.content * {
  opacity: 0;
}

.fadeIn .content {
  height: 360px;
  width: 320px;
  transition: width .25s var(--ease-out), height .5s var(--ease-out) .25s;
}

.fadeIn .content * {
  opacity: 1;
  transition: opacity .75s .5s;
}

.close {
  color: var(--blue4);
  position: absolute;
  right: 20px;
  top: 20px;
}
