/*
  app
*/
@import 'styles/core/variables';
@import 'styles/core/media';

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200..900&display=swap');

.layout {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  width: 100%;
}

.main {
  display: flex;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

/*
  nav
*/

.logo {
  font-size: 2rem;
  margin: 0 .75rem 0 0;
}

.nav {
  align-items: center;
  display: flex;
  position: relative;
}

.navLink {
  color: var(--blue4);
  display: block;
  font-size: 1rem;
  margin: 0 0.5rem;
  text-align: center;
}

.navLinkActive {
  color: var(--white) !important;
}
